.body {
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
}

.page {
  max-width: 880px;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  height: 84px;
  width: 100%;
}

.header__logo {
  width: 104px;
  height: 24px;
  margin: 0 0 0 27px;
}

@media only screen and (min-width: 800px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 19px;
  }
}

@media only screen and (min-width: 918px) {
  .header__logo {
    margin: 0;
  }
}

.content {
  margin: 0 19px;
}

@media only screen and (min-width: 918px) {
  .content {
    margin: 0;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 0 0;
}

@media only screen and (min-width: 800px) {
  .profile {
    display: grid;
    grid-template-columns: min-content auto 150px;
    column-gap: 30px;
  }
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile__info {
  margin: 26px 0 36px 0;
}

@media only screen and (min-width: 800px) {
  .profile__info {
    justify-self: start;
    margin: 0;
  }
}

.profile__info-editable {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}

.profile__info-title {
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 800px) {
  .profile__info-title {
    font-size: 42px;
    line-height: 48px;
    text-align: left;
  }
}

.profile__info-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 10px);
  margin: auto;
}

.edit-button {
  height: 18px;
  width: 18px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  background-image: url(./images/icon-edit.svg);
  background-size: contain;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .edit-button {
    width: 24px;
    height: 24px;
  }
}

.edit-button:hover {
  opacity: 0.6;
}

.profile__info-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 14px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (min-width: 800px) {
  .profile__info-subtitle {
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}

.add-button {
  height: 50px;
  width: 100%;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  background-image: url(./images/icon-plus.svg);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .add-button {
    background-size: 22px 22px;
  }
}

.add-button:hover {
  opacity: 0.6;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 36px 0 0 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

@media only screen and (min-width: 800px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    row-gap: 20px;
  }
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
}

.card__image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.cards__description {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 21px;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 22px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: url(./images/icon-like.svg);
  background-size: contain;
  flex: none;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button:active {
  background-image: url(./images/icon-like-active.svg);
  opacity: 1;
}

.footer {
  display: inline-block;
  margin: 48px 19px 36px 19px;
}

@media only screen and (min-width: 918px) {
  .footer {
    margin: 66px 0 60px 0;
  }
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .footer__copyright {
    font-size: 18px;
    line-height: 22px;
  }
}

.popup {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  margin: auto 19px;
  padding: 25px 22px;
  max-width: 430px;
}

@media only screen and (min-width: 800px) {
  .popup__container {
    padding: 34px 36px 37px 36px;
  }
}

.popup__close {
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(./images/icon-close.svg);
  right: 0;
  top: calc(-16px - 20px);
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-size: contain;
  background-color: transparent;
}

@media only screen and (min-width: 800px) {
  .popup__close {
    width: 32px;
    height: 32px;
    top: calc(-8px - 32px);
    right: calc(-8px - 32px);
  }
}

.popup__title {
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

@media only screen and (min-width: 800px) {
  .popup__title {
    font-size: 24px;
    line-height: 29px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form__save-button {
  width: 100%;
  height: 46px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 2px;
  margin: 45px 0 0 0;
  padding: 14px 82px;
  border: none;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .form__save-button {
    font-size: 18px;
    line-height: 22px;
    height: 50px;
    margin: 48px 0 0 0;
  }
}

.form__save-button:hover {
  opacity: 0.8;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  height: 27px;
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.form__input:focus,
.form__input:active,
.form__input:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.form__input_title {
  margin: 75px 0 0 0;
}

@media only screen and (min-width: 800px) {
  .form__input_title {
    margin: 54px 0 0 0;
  }
}

.form__input_subtitle {
  margin: 30px 0 0 0;
}
