.body {
  background-color:black;
}

.page {
  font-family: 'Inter', Arial, sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  margin: 28px 0 0 0;
}

.header__logo {
  margin: 0 auto 0 27px;
}

.content {
  margin: 0 19px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 0 0;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile__info {
  margin: 26px 0 0 0;
}

.profile__info-editable {

}

.profile__info-title {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
}
