.body {
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
}

.page {

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  height: 84px;
  width: 100%;
}

.header__logo {
  margin: 0 0 0 27px;
}

.content {
  margin: 0 19px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 42px 0 0 0;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.profile__info {
  margin: 26px 0 0 0;
}

.profile__info-editable {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: relative;
}

.profile__info-title {
  text-align: center;
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: #FFFFFF;
  margin: 0;
}

.profile__info-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(100% + 10px);
  margin: auto;
}

.edit-button {
  height: 18px;
  width: 18px;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  background-image: url(./images/icon-edit.svg);
  background-size: contain;
  cursor: pointer;
}

.edit-button:hover {
  opacity: 0.6;
}

.profile__info-subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 14px 0 0 0;
}

.add-button {
  height: 50px;
  width: 100%;
  background-color: #000000;
  border: 2px solid #FFFFFF;
  background-image: url(./images/icon-plus.svg);
  background-size: 16px 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: 36px 0 0 0;
}

.add-button:hover {
  opacity: 0.6;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 36px 0 0 0;
  padding: 0;
  list-style: none;
  gap: 20px;
}

.card {
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  overflow: hidden;
}

.card__image {
  width: 100%;
  object-fit: contain;
}

.cards__description {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 21px;
}

.card__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  width: 22px;
  height: 19px;
  background-color: #FFFFFF;
  background-image: url(./images/icon-like.svg);
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__like-button:active {
  background-image: url(./images/icon-like-active.svg);
}
